body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url('../images/backgroundmain.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

nav .logo a {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links li {
    list-style: none;
    margin: 0 10px;
}

nav .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav .dropdown {
    position: relative;
}

nav .dropdown-content {
    position: absolute;
    top: 40px;
    background-color: #333;
    width: 150px;
    z-index: 1;
    display: none;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content li {
    margin: 0;
}

nav .dropdown-content li a {
    color: #fff;
    font-size: 1em;
    padding: 10px;
    display: block;
    text-align: left;
}

.hero {
    color: #fff;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.hero p {
    font-size: 1
}

/* for loading */
.loading {
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: white;
    animation: loading 1.5s infinite ease-in-out;
  }
  
  @keyframes loading {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  /* and ends here(loading)  */